:root {
	--dark-black: rgba(0, 0, 0);
	--black: #222222;
	--bluish-black: #222224;
	--reddish-black: rgba(33, 22, 22);
	--gray-hover: rgba(58, 56, 56);
	--white: #ffffff;
	--dark-white: #fbfbfb;
	--very-dark-white: #f8f8f8;
	--light-pink: #f1e4e6;
	--pink-border: #ff6a6a;
	--pink: #f16d7f;
	--light-gray-bg: rgba(244, 244, 244);
	--light-gray-svg: #e8e8e8;
	--light-gray-input: #e1e1e1;
	--light-gray: #9f9f9f;
	--gray: #6f6e6e;
	--very-gray: #5d5d5d;

	--opacity-hover: 0.13;
	--opacity-active: 0.5;
	--outline-focus: 2px solid var(--pink-border);
	--outline-active: 4px solid var(--pink-border);
	--border-radius-focus: 2px;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.page {
	font-family: Lato-Light;
	font-size: 14px;
	line-height: 17px;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.opacity-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--dark-black);
	opacity: 0.5;
	z-index: 1;
}

.btn--transparent {
	border: 1px solid var(--white);
	background-color: transparent;
}

.btn--transparent:focus {
	background-color: var(--pink);
	outline: var(--outline-focus);
}

.btn--transparent:active {
	outline: var(--outline-active);
}

.btn--pink {
	background-color: var(--pink);
	color: var(--white);
	border: 1px solid var(--pink-border);
}

.btn--pink:hover {
	background-color: transparent;
	color: var(--pink);
	outline: 2px solid var(--pink-border);
}

.btn--pink:focus {
	outline: var(--outline-focus);
}

.btn--pink:active {
	outline: var(--outline-active);
}

/* header-start */
.header {
	background-color: var(--black);
	position: relative;
}

.header__wrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
}

.header__wrp-controls {
	display: flex;
	align-items: center;
}

.header__logo {
	margin: 0 41px 0 0;
	width: 44px;
	height: 38px;
}

.header__logo:hover {
	opacity: var(--opacity-hover);
}

.header__logo:active {
	opacity: var(--opacity-active);
}

.header__logo:focus {
	outline: var(--outline-focus);
	border-radius: var(--border-radius-focus);
}

.search {
	display: none;
	position: relative;
	height: 30px;
	width: 400px;
}

.search__input {
	height: 100%;
	width: 100%;
	margin-left: 10px;
	background-color: var(--light-pink);
	border: 1px solid var(--pink-border);
}

.search__input:focus {
	outline: var(--outline-focus);
	border-radius: var(--border-radius-focus);
}

.header__link {
	margin: 0 0 0 31px;
}

.header__btn:hover .header__svg,
.header__link:hover .header__svg {
	fill: var(--pink);
}

.header__btn:active .header__svg,
.header__link:active .header__svg {
	fill: var(--light-pink);
}

.header__btn:focus,
.header__link:focus {
	outline: var(--outline-focus);
	border-radius: var(--border-radius-focus);
}

.header__svg {
	fill: var(--light-gray-svg);
}

.header__svg--search {
	width: 27px;
	height: 28px;
}

.header__svg--burger {
	width: 32px;
	height: 23px;
}

.header__svg--person {
	width: 29px;
	height: 29px;
}

.header__svg--basket {
	width: 33px;
	height: 29px;
}

.header-basket {
	position: relative;
	display: inline-block;
	height: 30px;
}

.header-basket__count {
	position: absolute;
	top: -8px;
	right: -9px;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: var(--pink);
	color: var(--white);
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__nav {
	display: none;
	position: absolute;
	z-index: 2;
	right: 0;
	width: 232px;
	height: 764px;
	background-color: var(--white);
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
	padding: 37px 34px;
	box-sizing: border-box;
}

.header__nav-btn {
	margin: 16px;
	position: absolute;
	right: 0;
	top: 0;
	border: none;
	background: none;
}

.header__nav-btn--close {
	fill: var(--gray);
	width: 13px;
	height: 13px;
}

.header__nav-btn:hover .header__nav-btn--close {
	fill: var(--pink);
}

.header__nav-btn:active .header__nav-btn--close {
	fill: var(--gray);
}

.header__nav-btn:focus .header__nav-btn--close {
	outline: var(--outline-focus);
	border-radius: var(--border-radius-focus);
}

.header__nav-title {
	font-size: 14px;
	font-family: Lato-Bold;
	line-height: 17px;
	text-transform: uppercase;
	margin-bottom: 24px;
}

.menu-item__title {
	font-size: 14px;
	font-family: Lato;
	line-height: 17px;
	color: var(--pink);
	text-transform: uppercase;
	margin: 20px auto 12px auto;
}

.menu-item__sub-item {
	font-size: 14px;
	font-family: Lato;
	line-height: 17px;
	color: var(--gray);
	padding: 6px 20px;
}

.menu-item__link:hover {
	background-color: var(--light-pink);
}

.menu-item__link:active {
	background-color: var(--pink);
}

.menu-item__link:focus-within {
	outline: var(--outline-focus);
	border-radius: var(--border-radius-focus);
}
/* header-end */

/* footer-start */
/* subscribe-start */
.subscribe {
	position: relative;
	background: url('../img/bg-beach.jpg') center;
}

.subscribe::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--light-gray-bg);
	opacity: 0.7;
}

.subscribe-wrp {
	display: flex;
	height: 448px;
	justify-content: space-between;
	align-items: center;
}

.subscribe-quote {
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.subscribe-quote__text {
	width: 360px;
	height: 99px;
	margin-top: 30px;
	text-align: center;
	font-size: 20px;
	font-family: Lato;
	line-height: 24px;
}

.subscribe-quote__text--italic {
	font-family: Lato-Italic;
}

.subscribe-form {
	z-index: 1;
	margin-right: 50px;
}

.subscribe-form__legend {
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 50px;
}

.subscribe-form__title {
	font-size: 24px;
	font-family: Lato-Bold;
	line-height: 40px;
	color: var(--bluish-black);
	text-transform: uppercase;
}

.subscribe-form__desc {
	font-size: 18px;
	font-family: Lato;
	line-height: 28px;
	color: var(--bluish-black);
	text-transform: uppercase;
	margin-bottom: 32px;
}

.subscribe-form__controls {
	display: flex;
}

.subscribe-form__input {
	padding: 7px 22px;
	background-color: var(--light-gray-input);
	border: none;
	border-radius: 25px 0px 0px 25px;
	height: 35px;
	width: 212px;
	font-size: 14px;
	font-family: Lato;
	line-height: 17px;
	color: var(--bluish-black);
}

.subscribe-form__input:hover {
	outline: 2px solid var(--pink-border);
}

.subscribe-form__input:focus {
	outline: 1px solid var(--pink-border);
}

.subscribe-form__btn {
	font-size: 14px;
	font-family: Lato;
	line-height: 17px;
	border-radius: 0px 25px 25px 0px;
	height: 49px;
	width: 100px;
}

/* subscribe-end */

/* copyright-and-socials-start */
.copyright-and-socials {
	background-color: var(--bluish-black);
}

.copyright-and-socials__wrp {
	height: 79px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	font-size: 16px;
	font-family: Lato;
	line-height: 19px;
	color: var(--dark-white);
}

.socials__list {
	display: flex;
}

.socials__item {
	margin-left: 7px;
}

.socials__item-svg {
	width: 32px;
	height: 32px;
}

.socials__item-link:hover .socials__item-svg {
	opacity: var(--opacity-hover);
}

.socials__item-link:active .socials__item-svg {
	opacity: var(--opacity-active);
}

.socials__item-link:focus {
	outline: var(--outline-focus);
	border-radius: var(--border-radius-focus);
}
/* copyright-and-socials-end */
/* footer-end */
