$dark-black: rgba(0, 0, 0);
$black: #222222;
$bluish-black: #222224;
$reddish-black: rgba(33, 22, 22);
$gray-hover: rgba(58, 56, 56);
$white: #ffffff;
$dark-white: #fbfbfb;
$very-dark-white: #f8f8f8;
$page-header-white: #f8f3f4;
$light-pink: #f1e4e6;
$pink-border: #ff6a6a;
$pink-text: #f26376;
$pink: #f16d7f;
$light-gray-bg: rgba(244, 244, 244);
$light-gray-svg: #e8e8e8;
$light-gray-cart-border: #e2e2e2;
$light-gray-input: #e1e1e1;
$light-gray-cart: #f5f3f3;
$light-gray-cart-input: #eaeaea;
$light-gray-product-slide: #f7f7f7;
$light-gray-inp-border: #a4a4a4;
$light-gray-inp-text: #b1b1b1;
$light-gray: #9f9f9f;
$gray: #6f6e6e;
$gray-cart: #656565;
$very-gray: #5d5d5d;
$very-gray-cart: #575757;
$light-black-cart: #4a4a4a;

$tablet-width: 1599px;
$mobile-width: 767px;
