.cart-products {
	min-width: 652px;
	margin-top: 96px;

	@include tablet {
		margin-top: 59px;
		min-width: unset;
		width: 100%;
	}

	@include mobile {
		margin-top: 39px;
		min-width: unset;
		width: 100%;
	}

	&__item {
		margin-bottom: 40px;

		@include mobile {
			margin-bottom: 32px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		margin-top: 73px;
		margin-bottom: 128px;

		@include tablet {
			margin-top: 62px;
			margin-bottom: 64px;
			justify-content: space-evenly;
		}

		@include mobile {
			margin-top: 30px;
			margin-bottom: 48px;
			justify-content: space-between;
		}
	}

	&__btn {
		@include btn();
		@include font($font-weight: 300, $text-transform: true);
		min-height: 49px;
		width: 229px;

		@include mobile {
			@include font($font-weight: 400, $font-size: 12px, $line-height: 14px);
			width: 174px;
		}
	}
}
