.page-header {
	background-color: $page-header-white;
	min-height: 148px;
	@include flex-center();

	&__title {
		@include font($font-size: 24px, $line-height: 29px, $text-transform: true);
		color: $pink;

		@include mobile {
			text-align: center;
		}
	}

	&__wrp {
		@include flex-center($justify-content: space-between);

		@include mobile {
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__nav {
		@include mobile {
			margin-top: 32px;
			margin-bottom: 22px;
		}
	}
}
