.products-grid {
	@include flex-center();
	flex-direction: column;
	padding-top: 51px;
	padding-bottom: 96px;

	@include tablet {
		padding-top: 24px;
		padding-bottom: 63px;
	}

	@include mobile {
		padding-top: 64px;
		padding-bottom: 65px;
	}

	&__list {
		width: 100%;
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;

		@include tablet {
			grid-template-columns: 1fr 1fr;
			gap: 16px;
		}

		@include mobile {
			grid-template-columns: 1fr;
		}
	}

	&__filters {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 65px;

		&-drpdwns {
			display: flex;
			align-items: center;
		}
	}

	&__pages {
		display: flex;
		justify-content: space-around;
		width: 282px;
		height: 43px;
		margin-top: 48px;
		border: 1px solid $light-gray-cart-border;
		border-radius: 2px;

		&-control {
			color: $gray;
			&--prev {
				color: $black;
			}

			&--active {
				color: $pink;
			}

			&--ellipsis {
				::after {
					content: '.....';
				}
			}

			&--next {
				color: $black;
			}
		}
	}
}
