.products {
	@include flex-center();
	flex-direction: column;
	margin: 34px auto 95px auto;

	&__title {
		@include font($font-size: 30px, $line-height: 36px);
		color: $black;

		&-desc {
			color: $light-gray;
			margin: 6px auto 18px auto;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		height: 1192px;
		justify-content: space-between;
		align-content: space-between;
		margin: 30px auto 48px auto;
	}

	&__btn {
		height: 47px;
		width: 211px;
		@include btn($transparent: false);
	}
}
