.products {
	@include flex-center();
	flex-direction: column;
	margin-top: 96px;
	margin-bottom: 96px;

	@include tablet {
		margin-top: 155px;
		margin-bottom: 65px;
	}

	@include mobile {
		margin-top: 64px;
		margin-bottom: 96px;
	}

	&__title {
		@include font($font-size: 30px, $line-height: 36px);
		color: $black;

		&-desc {
			color: $light-gray;
			margin-top: 6px;
			margin-bottom: 48px;

			@include tablet {
				margin-top: 3px;
				margin-bottom: 73px;
			}

			@include mobile {
				margin-top: 3px;
				margin-bottom: 64px;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;

		@include tablet {
			justify-content: space-around;
			max-width: 1400px;
		}

		@include mobile {
			justify-content: center;
		}
	}

	&__item {
		&:nth-child(-n + 3) {
			margin-bottom: 30px;
		}

		@include tablet {
			&:nth-child(-n + 4) {
				margin-bottom: 16px;
			}
		}

		@include mobile {
			margin-bottom: 16px;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__btn {
		height: 47px;
		width: 211px;
		@include btn($border-color: $pink-border, $color: $pink-text);
		margin-top: 49px;

		@include tablet {
			margin-top: 33px;
		}

		@include mobile {
			margin-top: 41px;
		}
	}
}
