.subscribe-form {
	z-index: 2;
	margin-right: 50px;

	@include tablet {
		margin-right: 0;
		margin-top: 48px;
	}

	@include mobile {
		margin-right: 0;
		margin-top: 59px;
	}

	&__legend {
		@include flex-center();
		flex-direction: column;
		color: $bluish-black;

		&-title {
			@include font($font-weight: 700, $font-size: 24px, $line-height: 40px, $text-transform: true);

			@include mobile {
				@include font($font-weight: 700, $font-size: 24px, $line-height: 36px, $text-transform: true);
			}
		}

		&-desc {
			@include font($font-size: 18px, $line-height: 28px, $text-transform: true);
			margin-bottom: 32px;

			@include tablet {
				margin-bottom: 27px;
			}

			@include mobile {
				@include font($line-height: 22px, $text-transform: true);
				margin-bottom: 22px;
			}
		}
	}

	&__controls {
		display: flex;
		align-items: center;

		&-input {
			@include font();
			padding: 7px 22px;
			border-radius: 25px 0 0 25px;
			height: 35px;
			width: 212px;
			@include text-input($bkg-color: $light-gray-input, $placeholder-color: $bluish-black);

			@include mobile {
				height: 33px;
				width: 201px;
			}
		}

		&-btn {
			@include font();
			@include btn($transparent: false);
			border-radius: 0 25px 25px 0;
			min-height: 49px;
			width: 100px;

			@include mobile {
				min-height: 47px;
				width: 95px;
			}
		}
	}
}
